[submodule "ReplicateAnyScene"]
	path = ReplicateAnyScene
	url = git@github.com:ananansmall/Ego-centric-Video-to-Simulation.git
[submodule "HaWoR"]
	path = HaWoR
	url = git@github.com:ananansmall/HaWoR.git
